<!DOCTYPE html>

<html>

    <body>
        <div class="message-group-label-wrapper">
            <div class="message-group-label">Saturday, December 4th</div>
        </div>
        <div class="message-group">
            <div class="message-compact">
                <p class="message-time">1:15 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    My name is Charlie Bushrow. I'm an avid user of Slack, and an excited and passionate
                    applicant to this role.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:17 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    I am a data scientist and software developer with over 4 years of experience in the field. I
                    graduated with an undergraduate degree in Industrial and Systems Engineering, and that has provided
                    the foundation for all of my continued and ongoing learning. Even though I'm not applying my degree
                    to a "typical" engineering role, I am extremely grateful for the way that the engineering program
                    trained me to approach problems and develop a solution. I see myself as a problem-solver first
                    and a coder second.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:20 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    I currently work for Booz Allen Hamilton as a client-facing data science consultant, and I've had
                    some amazing opportunities to dive into different datasets and improve/standardize processes and
                    facilitate understanding for clients. Most of my solutions with the firm are built in Python, but I
                    also enjoy any opportunity I can get to try new things and learn new approaches or languages.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:22 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    The project I am working on now is with the Air Force, where I provide analysis of the hours flown
                    by each squadron on each plane across the whole Air Force.
                    One of the coolest things about this role is the impact: at the end of the fiscal year,
                    I was asked whether or not the Air Force could afford to shift $500 million from the training budget
                    to another fund. I was solely responsible for making that determination and did so by building out
                    the storyline of how it would impact the execution of training hours, as well as the downstream
                    impacts on maintenance and personnel retention.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:22 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    What I'm looking for now is a place where I can have a different kind of impact.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:24 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    As a government contractor, I have about 4 separate email accounts for different agencies and for
                    Booz Allen itself. It's a confusing and ineffective setup that causes frustration every
                    day in the process of trying to do simple tasks. On top of that, we work with subcontractors from
                    different companies who do not have access to the same fileshares and messaging platforms. I
                    wholeheartedly agree with Slack's mission to replace email and provide a collaboration hub, and I
                    want to support that mission from the inside.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:24 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    I would appreciate the opportunity to talk more about how we can leverage my skillset to help
                    realize Slack's mission, and how the mission itself will expand and adapt as technology changes over
                    time.
                </div>
            </div>
            <div class="message-compact">
                <p class="message-time">1:25 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    Please press the "New Message" icon in the top left to send me an email, or click the Huddles
                    icon in the bottom left to call my cell. I look forward to meeting you soon!
                </div>
            </div>
        </div>
    </body>

</html>